* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1d1c21;
  color: #D7DBFE;
  font-family: "Quicksand", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #1d1c21;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #252429;
  padding: 0 15px 0 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(29, 28, 33, 0.9);
  z-index: 1;
}

.BrandLogo {
  height: 55px;
  align-self: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.a1 {
  display: block;
  margin: 30px auto 0 auto;
  height: 100px;
  transition: opacity 0.3s ease-in-out;
}

.a2 {
  resize: none;
  background: transparent;
  max-width: 400px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #ff8c00;
  padding: 5px;
  outline: none;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  color: #f9fafe;
}

.a3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.a4 {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #FF8C00;
  color: #f9fafe;
  transition: all .3s ease-in-out;
  font-size: 20px;
}

.a4:active,
.a4:hover {
  background: #FF8C00;
}

.a5 {
  height: 35px;
  width: 250px;
  display: block;
  margin: 0 auto;
  background: #FF8C00;
  border: 2px solid #FF8C00;
  color: #f9fafe;
  border-radius: 10px;
  font-size: 18px;
  transition: all .3s ease-in-out;
}

.a5:active,
.a5:hover {
  background: transparent;
}

.a6 {
  text-align: center;
  margin: 20px auto 8px auto;
}

.a7 {
  width: 162px;
  height: 40px;
  padding: 0 3px;
  border-radius: 10px;
  border: 2px solid #ff8c00;
  background: transparent;
  color: #f9fafe;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  outline: none;
}

.a8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 10px;
  width: 100%;
}

.a9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.a10 {
  position: absolute;
  top: -8px;
  left: 0;
  padding: 0 5px;
  margin: 0 15px;
  pointer-events: none;
  font-size: 14px;
  color: #f9fafe;
  background-color: #1d1c21;
  border-left: 2px solid #ff8c00;
  border-right: 2px solid #ff8c00;
  border-radius: 1.5px;
}

.a11 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
}

.a12{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c1 {
  width: 250px;
  border: 3px solid #f9fafe;
  border-radius: 10px;
  padding: 5px;
  transition: all .2s ease-in-out;
}

.c1:hover {
  border-color: #ff8c00;
}

.c2 {
  position: relative;
}

.c3 {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  color: #2c2a38;
  text-align: center;
  background-color: #FFA500;
  -webkit-box-shadow: 0 0 5px 4px rgba(255, 165, 0, 0.3);
  -moz-box-shadow: 0 0 5px 4px rgba(255, 165, 0, 0.3);
  box-shadow: 0 0 5px 4px rgba(255, 165, 0, 0.3);
}

.c4 {
  width: 250px;

}

.c5 {
  padding: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c6 {
  position: relative;
  width: 100%;
  display: flex;
  align-self: center;
}

.c7 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  background-image: linear-gradient(90deg, #FF9900, #FF3366);
  color: transparent;
  background-clip: text;
}

footer {
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  width: 95%;
  height: auto;
  padding: 0 40px 15px 40px;
  background: #00031f;
  border: 1px solid rgba(29, 28, 33, 0.9);
  position: relative;
  bottom: 0;
}

.social-media-icons {
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.social-media-icons ion-icon {
  font-size: 28px;
  color: #B3BECD;
  transition: color .3s ease-in-out, transform 0.3s ease-in-out;
}

.social-media-icons ion-icon:hover {
  transform: translateY(-20px);
  color: #ff8c00;
}

.line {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 24px;
  height: 4px;
  width: 100px;
  background: #ff8c00;
  -webkit-box-shadow: 0 8px 20px 2px #ff8c00;
  -moz-box-shadow: 0 8px 20px 2px #ff8c00;
  box-shadow: 0 8px 20px 2px #ff8c00;
  margin: 0 auto;
}

.decoration {
  position: relative;
  text-decoration: none;
  color: #ff8c00;
}

.decoration::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #FF8C00;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.decoration:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}